<h2>Reactives: Basics</h2>
<hr>

<div class="row">
    <div class="col">
        <form
            (submit)="save()"
            [formGroup]="myForm">

            <div class="mb-3 row">
                <label 
                    class="col-sm-3 col-form-label">
                    Product
                </label>
                <div class="col-sm-9">
                    <input
                        formControlName="name"
                        type="text"
                        autocomplete="off"
                        class="form-control"
                        placeholder="Product name">
                    <span
                        *ngIf="fieldNotValid('name')"
                        class="form-text text-danger">
                        Must be have 3 letters
                    </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label 
                    class="col-sm-3 col-form-label">
                    Price
                </label>
                <div class="col-sm-9">
                    <input 
                        formControlName="price"
                        type="number"
                        class="form-control"
                        placeholder="Product price"
                        autocomplete="off">

                <span
                    *ngIf="fieldNotValid('price')"
                    class="form-text text-danger">
                    The price must be bigger than 0
                </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label 
                    class="col-sm-3 col-form-label">
                    Stock
                </label>
                <div class="col-sm-9">
                    <input 
                        formControlName="stock"
                        type="number"
                        autocomplete="off"
                        class="form-control"
                        placeholder="Product stock">
                    <span
                        *ngIf="fieldNotValid('stock')"
                        class="form-text text-danger">
                        The stock must be bigger than 0
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button
                        type="submit"
                        class="btn btn-primary float-end">
                        Save
                    </button>
                </div>
            </div>

        </form>
    </div>
    <div class="row">
        <div class="col">
            <span>Valid</span>
            <pre>{{myForm.valid}}</pre>

            <span>Pristine</span>
            <pre>{{myForm.valid}}</pre>

            <span>Touched</span>
            <pre>{{myForm.touched}}</pre>

            <span>Value</span>
            <pre>{{myForm.value | json}}</pre>
        </div>
    </div>
</div>
