
<h2>Reactives: <small>dynamics</small></h2>
<hr>

<form
    (ngSubmit)="save()"
    [formGroup]="myForm"
    autocomplete="off">

    <div class="mb-3 row">
        <label
            class="col-sm-3 col-form-label">
            Name
        </label>
        <div class="col-sm-9">
            <input 
                formControlName="name"
                autocomplete="off"
                type="text"
                class="form-control"
                placeholder="Name">

            <span
                *ngIf="fieldNotValid('name')"
                class="form-text text-danger">
                Name must be have a value
            </span>
        </div>
    </div>

    <div class="mb-3 row">
        <label
            class="col-sm-3 col-form-label">
            Add
        </label>
        <div class="col-sm-9">
            <div class="input-group">
                <input 
                    [formControl]="newFavorite"
                    autocomplete="off"
                    type="text"
                    class="form-control"
                    placeholder="Add favorite"
                    (keyup.enter)="addGame()">
                <button
                    (click)="addGame()"
                    class="btn btn-outline-primary"
                    type="button">
                    Add
                </button>
            </div>
        </div>
    </div>

    <div class="mb-3 row">
        <label
            class="col-sm-3 col-form-label">
            Favorites
        </label>
        <div 
            class="col-sm-9"
            formArrayName="favorites">
            <div 
                class="input-group mb-2"
                *ngFor="let favorite of favoritesArray.controls; let i = index">
                <input 
                    autocomplete="off"
                    type="text"
                    class="form-control"
                    [formControlName]="i">
                <button
                    class="btn btn-outline-danger"
                    type="button"
                    (click)="remove(i)">
                    Remove
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button
                type="button"
                (click)="save()"
                class="btn btn-primary float-end">
                Save
            </button>
        </div>
    </div>
</form>

<span>Valid</span>
<pre>{{myForm.valid}}</pre>
<br>

<span>Value</span>
<pre>{{myForm.value | json}}</pre>
<br>

<span>Add game</span>
<pre>{{newFavorite.valid}}</pre>
<br>
<pre>{{newFavorite.value}}</pre>
<br>

<!-- 
<span>Person</span>
<pre>{{person | json}}</pre> -->
